{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Enter this code manually in your authenticator app</p>
{{ request.user.otp_base32 }}
<p>OR</p>
<p>Scan this qrcode</p>
<img src="{{ request.user.qrcode.url }}" height="200px" width="200px">

<p>Once done, enter otp here</p>

<input type="text" id="auth-otp" required>
<br>
<button onclick="check_otp()">Submit</button>

<p id="OTP-message"></p>


</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function check_otp() {
        otp_value = document.getElementById('auth-otp').value
        let csrf_token = getCookie("csrftoken");

        $.ajax({
            headers: {'X-CSRFToken': csrf_token},
            method: "post",
            url: "{% url 'verify-otp' %}",
            data: {
                'otp': otp_value
            },
            success: function (result) {
                if (result.msg == "OTP Verified.") {
                    window.location.pathname = 'dashboard'
                }
                document.getElementById("OTP-message").innerText = result.msg;
            },
            error: function (result) {
                console.log("Error occurred", result)
            }
        })
    }
</script>

</html>

